:root {
  --serif: "Libertinus Serif", "Cambria", serif;
  --sans-serif: "Inter", sans-serif;
  --monospace: 'Fira Code', 'Consolas', 'Courier New', Courier, monospace;
  --math: "Libertinus Math", math;
  --component-bg: #ffdfec;
  --component-bg-hover: #fddbe6;
  --component-bg-active: #ffc7d9;
  --infobox-padding-x: 1.2em;
  --infobox-padding-y: .5em;
}

@font-face {
  font-family: "nafa vlina";
  src: url("/fonts/NafaVlina.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/InterVariable.woff2") format("woff2-variations");
  font-display: swap;
  font-style: normal;
  size-adjust: 90%;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/InterVariable-Italic.woff2") format("woff2-variations");
  font-display: swap;
  font-style: italic;
  size-adjust: 90%;
  /* FIXME: explicitly unsetting cv11 doesn’t seem to do anything here? */
  font-feature-settings: "cv05", "cv11" off;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/libertinus/WOFF2/LibertinusSerif-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "hlig", "ss07";
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/libertinus/WOFF2/LibertinusSerif-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "hlig", "ss07";
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/libertinus/WOFF2/LibertinusSerif-Italic.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  font-feature-settings: "hlig", "ss07";
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("/fonts/libertinus/WOFF2/LibertinusSerif-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  font-feature-settings: "hlig", "ss07";
}

@font-face {
  font-family: "Libertinus Math";
  src: url("/fonts/libertinus/WOFF2/LibertinusMath-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "hlig", "ss07";
}

html {
  font-family: var(--serif);
  min-height: 100%;
  /* compatibility with WebKit-based browsers */
  font-feature-settings: "hlig", "ss07";
}

body {
  background-color: #e6adec;
  background-image: linear-gradient(#e6adec, #e6adec 10%, #e48cee);
  background-attachment: fixed;
  color: black;
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin: auto;
  line-height: 1.3;
  font-size: 15pt;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  display: flex;
  text-align: justify;
}

nav#sidebar {
  margin: 0;
  min-width: 15em;
  background-color: #cde7b0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 3px solid #e49cc8;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 99998;
  text-align: initial;
  line-height: 1.35;
  font-size: 15pt;
}

#sidebar2 {
  margin-top: 2em;
}

#sidebar-toggle {
  position: fixed;
  z-index: 99999;
}

nav#sidebar.collapsed {
  display: none;
}

#container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  left: 0;
  max-width: 45em;
  width: 100%;
}

nav#sidebar.collapsed+#container {
  left: 0;
}

nav#sidebar ul {
  margin: 0;
  padding: 0;
}

nav#sidebar ul ul {
  padding: 0.25em 0 0 0.5em;
}

li.sidebar-item {
  padding: 0;
  font-family: var(--sans-serif);
  list-style: none;
  margin: 0;
  border-bottom: white 1px solid;
}

li.sidebar-item>a {
  padding: 0.25em 0.1em 0.25em 0.35em;
  display: block;
  width: 100%;
}

a.sidebar-continued::after {
  content: "…";
  color: #999999;
}

div#sidebar2>ul>li.sidebar-item {
  background-color: #ffdbf3;
}

div#sidebar2>ul>li.sidebar-item:hover,
div#sidebar2>ul>li.sidebar-item:focus {
  background-color: #ffa7e2;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item {
  background-color: #d7f9ff;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item:hover,
div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item:focus {
  background-color: #b8f4ff;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item {
  background-color: #e6ffd7;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item:hover,
div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item:focus {
  background-color: #d6ffbe;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item {
  background-color: #f0d7ff;
}

div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item:hover,
div#sidebar2>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item>ul>li.sidebar-item:focus {
  background-color: #d5b1ff;
}

li.sidebar-item-current {
  background-color: #ff5100 !important;
}

main {
  padding: 30px 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border: black 2px solid;
  border-radius: 1em;
  margin-bottom: 3em;
}

#title {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

#header-img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.title-quote {
  text-align: center;
}

a {
  color: #00576d !important;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: #6c0086 !important;
}

a:hover,
a:focus {
  color: #c55a1c !important;
}

.sidebar-item>a {
  color: black !important;
  text-decoration: none;
}

.sidebar-item-current>a {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

/* code {} */

pre,
code {
  font-family: var(--monospace);
  hyphens: none;
  overflow-wrap: break-word;
  text-align: left;
}

.monospace {
  font-family: var(--monospace);
  font-style: normal;
  hyphens: none;
  overflow-wrap: break-word;
  text-align: left;
}

:lang(ja) {
  font-style: normal;
}

cite.inbook {
  font-style: normal;
}

cite.inbook::before {
  content: "“";
}

cite.inbook::after {
  content: "”";
}

dfn {
  font-variant: small-caps;
  font-style: normal;
  letter-spacing: 0.01em;
}

h1 {
  font-family: var(--sans-serif);
  color: #350a52;
  font-size: 180%;
}

h2 {
  font-family: var(--sans-serif);
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: start;
}

s {
  color: #633c63;
}

.pos {
  font-style: italic;
}

.translations {
  font-style: italic;
}

.f9t-input {
  font-size: 60%;
  font-family: var(--monospace);
  text-align: start;
  /* margin-top: -1em; */
}

li {
  padding: 0.2em;
}

ol.compact,
ul.compact {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 1em;
}

.compact>li {
  padding-top: 0;
  padding-bottom: 0;
}

.ss {
  font-family: var(--sans-serif);
  font-size: 80%;
  font-style: italic;
  color: #022523;
}

/* nc/w notation */

.w-ligature {
  text-decoration: overline;
}

.w-symbol {
  font-style: normal;
}

.figure-image {
  max-width: 100%;
  height: auto;
}

.figure-image-container {
  margin: 0 auto;
}

:lang(art-x-ncs-v9) {
  font-family: var(--sans-serif);
}

:lang(art-x-ncs-v7) {
  font-family: var(--sans-serif);
}

:lang(art-x-ncs-v6) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v5) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v4) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v3) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v2) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v1) {
  font-family: var(--sans-serif);
  font-style: italic;
}

:lang(art-x-ncs-v9-Qacv) {
  font-family: "nafa vlina";
  direction: rtl;
  font-weight: normal;
}

:lang(art-x-ngal) {
  font-family: var(--sans-serif);
}

mark {
  background-color: #feffdf;
  color: #bd007e !important;
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-collapse: collapse;
}

.border-right {
  border-right: 1px solid black;
  margin: 10px;
}

.border-left {
  border-left: 1px solid black;
  margin: 10px;
}

th,
td {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: baseline;
  text-align: start;
}

th {
  text-align: start;
}

th,
.pseudoheader {
  font-family: var(--sans-serif);
}

thead {
  border-bottom: 1px solid black;
}

tr.pseudoheader th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

th.rowhead,
th[scope=row] {
  text-align: start;
}

.merged {
  text-align: center;
  background-color: #9de0ff52;
}

.varcell {
  background-color: #ffe09d63;
}

.varcell-note {
  vertical-align: super;
  font-size: smaller;
}

caption {
  caption-side: bottom;
  padding: 0.3em;
  width: 100%;
  font-family: var(--sans-serif);
}

figcaption {
  font-family: var(--sans-serif);
}

.figure {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

td.wrapped {
  text-align: justify;
}

details {
  border: 1px solid black;
  border-radius: 4px;
  padding: var(--infobox-padding-y) var(--infobox-padding-x) 0;
  margin: 0.5em 0;
}

summary {
  font-family: var(--sans-serif);
  font-weight: bold;
  margin: calc(0em - var(--infobox-padding-y)) calc(0em - var(--infobox-padding-x)) 0;
  padding: .5em;
  background: var(--component-bg);
  cursor: pointer;
}

summary:hover,
summary:focus {
  background: var(--component-bg-hover);
}

details[open] {
  padding: var(--infobox-padding-y) var(--infobox-padding-x);
  background: #dcf8ff;
}

details[open] summary {
  border-bottom: 1px solid black;
  margin-bottom: .5em;
  background: var(--component-bg-active);
}

.form-expl {
  border: 1px solid black;
  border-radius: 4px;
  padding: var(--infobox-padding-y) var(--infobox-padding-x);
  background: #ffffdd;
  margin: 0.5em 0;
}

.form-expl-expl {
  border-top: 1px dashed #ffcc66;
  padding-top: .5em;
}

input,
textarea,
select {
  font-family: var(--serif);
  font-size: 100%;
}

button {
  font-family: var(--sans-serif);
  font-size: 100%;
  background-color: var(--component-bg);
  padding: 0.3em 0.7em;
  border: 1px black solid;
}

button:hover,
button:focus {
  background-color: var(--component-bg-hover);
}

button:active {
  background-color: var(--component-bg-active);
}

.smallcaps {
  font-variant: small-caps;
  font-family: inherit;
}

.sentence {
  padding: .3em;
  display: flex;
  flex-direction: row;
}

.sentence-ordinal {
  padding-right: .8em;
}

.sentence-main {}

.sentence-main .one {
  /* font-style: italic; */
}

.sentence-main .two {
  /* TBD */
  margin-left: 0 !important;
}

.words {
  margin-top: .3em;
  margin-bottom: .3em;
}

.word {
  padding: .2em .5em;
  display: inline-block;
  margin-top: .1em;
  margin-bottom: .1em;
}

.freetext-before .freetext {
  font-weight: bold;
}

.freetext-after .freetext {
  font-style: italic;
}

.empty-syll {
  font-family: var(--monospace);
  border: 1px solid #003841;
  border-radius: .2em;
  padding: 0 0.5em;
  color: #003841;
  font-weight: normal;
  font-size: 90%;
}

.caladrius-theme,
.caladrius-stem,
.caladrius-dice {
  font-style: normal;
}

figure {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 1em;
}

figure.blockquote-with-attribution {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  background-color: #fde2f8;
}

figure.blockquote-with-attribution>blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

div.syntax-tree {
  margin: auto;
}

figcaption {
  text-align: center;
  padding: 0.3em;
}

figure.blockquote-with-attribution>figcaption {
  text-align: right;
  padding: 0.3em;
}

div.definition-translations p {
  /* Nasty hack to get around decoder limitations */
  display: inline;
}

dl.definition-translations-list {
  display: inline;
}

dl.definition-translations-list dt {
  display: inline;
}

dl.definition-translations-list dt::after {
  content: ": ";
}

dl.definition-translations-list dd {
  display: inline;
  margin-left: 0;
}

dl.definition-translations-list dt:nth-child(n+2)::before {
  content: ", ";
}

dl.infobox {
  display: grid;
  grid-template-columns: max-content auto;
  margin-left: auto;
  margin-right: auto;
}

dl.infobox dt {
  font-family: var(--sans-serif);
  font-weight: bold;
  grid-column-start: 1;
}

dl.infobox dt::after {
  content: ": ";
}

dl.infobox dd {
  grid-column-start: 2;
}

.msgbox {
  width: 80ch;
  margin: 0.5em auto;
  border-style: solid;
  border-width: 3px;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.msgbox-icon {
  display: flexbox;
  margin-right: 0.5em;
}

.msgbox-text {
  display: flexbox;
}

.msgbox-outdated {
  border-color: #8b541a;
  background-color: #ebdcc9;
}

@media print {
  nav {
    display: none;
  }

  body {
    background-color: #ffffff;
    color: #000000;
    border-left-style: none;
    border-right-style: none;
    padding: 0px;
  }

  main {
    border: none;
  }

  #container {
    max-width: 100%;
    margin-left: 0;
  }

  #sidebar-toggle {
    display: none;
  }
}

.katex {
  font-size: 1em;
}

.result-count {
  margin-top: 2em;
}

.error-page-title {
  font-size: 96pt;
  text-align: center;
  margin: 0;
}

math {
  font-family: var(--math);
}

mtext {
  font-family: var(--math);
}

mi[mathvariant=sans-serif],
mtext[mathvariant=sans-serif] {
  font-family: var(--sans-serif);
}